@page "/home"
@using Microsoft.AspNetCore.Authorization;
@using System.Security.Claims;
@using System.IdentityModel.Tokens.Jwt;
@using Microsoft.IdentityModel.Tokens;
@using System.Text;
@using ToDoProject.Client.Models;
@attribute [Authorize]


<PageTitle>Dashboard</PageTitle>

<h1>Le tue task</h1>

@if(ToDoItems.Count > 0)
{
    
}
else
{
    
}
