@layout LoginLayout
@inherits LayoutComponentBase

<MudThemeProvider/>
<MudDialogProvider/>
<center>
    <div class="col-8 card">
        <div class="col-12 row">
            <p>&nbsp;</p>
        </div>
        <div class="col-12 row">
            <div class="col-6 m-auto" style="border-right:groove">
                <img src="/img/todo1.png" width="400px" height="400px" />
            </div>
            <div class="col-6 m-auto" style="border-left:thick">
                @Body
            </div>
        </div>
        <div class="col-12 row">
            <p>&nbsp;</p>
        </div>
    </div>
</center>